{% extends 'layouts/base.html' %}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Predicción</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('login.catalogo') }}">Home</a></li>
            <li class="breadcrumb-item active">Vista catálogo</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- Buscar producto -->
  <section>
    <div class="container-fluid">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Predicción de productos</h3>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}