{% extends 'layouts/base.html' %}
{% block title %}Lista de Ventas{% endblock %}

{% block content %}
<div class="modal fade" id="vista_venta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Registro de ventas</h3>
          <button data-dismiss="modal" aria-label="close" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Codigo venta:</label> <span id="codigo_venta"></span>
          </div>
          <div class="form-group">
            <label>Fecha:</label> <span id="fecha"></span>
          </div>
          <div class="form-group">
            <label>Cliente:</label> <span id="cliente"></span>
          </div>
          <div class="form-group">
            <label>Dni:</label> <span id="dni"></span>
          </div>
          <div class="form-group">
            <label>Vendedor:</label> <span id="vendedor"></span>
          </div>
          <table class="display table table-hover text-nowrap">
            <thead class="table-success">
              <tr>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Producto</th>
                <th>Concentracion</th>
                <th>Laboratorio</th>
                <th>Presentacion</th>
                <th>Tipo</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody class="table-warning" id="registros"></tbody>
          </table>
          <div class="float-right input-group-append">
            <h3 class="m-3">Total:</h3>
            <h3 id="total" class="m-3"></h3>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" data-dismiss="modal" class="btn bg-outline-secundary float-right m-1">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ventas</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ url_for('login.catalogo') }}">Home</a></li>
            <li class="breadcrumb-item active">Lista de ventas</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Consultas</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3 id="venta_dia_vendedor">0</h3>
                  <p>Ventas diarias por Vendedor</p>
                </div>
                <div class="icon">
                  <i class="fas fa-user"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3 id="venta_diaria">0 <sup style="font-size: 20px">%</sup></h3>
                  <p>Venta diaria</p>
                </div>
                <div class="icon">
                  <i class="fas fa-shopping-bag"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3 id="venta_mensual">0</h3>
                  <p>Venta Mensual</p>
                </div>
                <div class="icon">
                  <i class="far fa-calendar-alt"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3 id="venta_anual">0</h3>
                  <p>Ventas anual</p>
                </div>
                <div class="icon">
                  <i class="fas fa-signal"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Buscar Venta</h3>
        </div>
        <div class="card-body">
          <table id="tabla_venta" class="display table table-hover text-nowrap" style="width:100%">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Dni</th>
                <th>Total</th>
                <th>Vendedor</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/Venta.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>
{% endblock %}
